@font-face {
    font-family: 'rubikblack';
    src: url('/styles/fonts/rubik/rubik-black-webfont.eot');
    src: url('/styles/fonts/rubik/rubik-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/rubik/rubik-black-webfont.woff2') format('woff2'),
         url('/styles/fonts/rubik/rubik-black-webfont.woff') format('woff'),
         url('/styles/fonts/rubik/rubik-black-webfont.ttf') format('truetype'),
         url('/styles/fonts/rubik/rubik-black-webfont.svg#rubikblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikblack_italic';
    src: url('/styles/fonts/rubik/rubik-blackitalic-webfont.eot');
    src: url('/styles/fonts/rubik/rubik-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/rubik/rubik-blackitalic-webfont.woff2') format('woff2'),
         url('/styles/fonts/rubik/rubik-blackitalic-webfont.woff') format('woff'),
         url('/styles/fonts/rubik/rubik-blackitalic-webfont.ttf') format('truetype'),
         url('/styles/fonts/rubik/rubik-blackitalic-webfont.svg#rubikblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikbold';
    src: url('/styles/fonts/rubik/rubik-bold-webfont.eot');
    src: url('/styles/fonts/rubik/rubik-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/rubik/rubik-bold-webfont.woff2') format('woff2'),
         url('/styles/fonts/rubik/rubik-bold-webfont.woff') format('woff'),
         url('/styles/fonts/rubik/rubik-bold-webfont.ttf') format('truetype'),
         url('/styles/fonts/rubik/rubik-bold-webfont.svg#rubikbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikbold_italic';
    src: url('/styles/fonts/rubik/rubik-bolditalic-webfont.eot');
    src: url('/styles/fonts/rubik/rubik-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/rubik/rubik-bolditalic-webfont.woff2') format('woff2'),
         url('/styles/fonts/rubik/rubik-bolditalic-webfont.woff') format('woff'),
         url('/styles/fonts/rubik/rubik-bolditalic-webfont.ttf') format('truetype'),
         url('/styles/fonts/rubik/rubik-bolditalic-webfont.svg#rubikbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikitalic';
    src: url('/styles/fonts/rubik/rubik-italic-webfont.eot');
    src: url('/styles/fonts/rubik/rubik-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/rubik/rubik-italic-webfont.woff2') format('woff2'),
         url('/styles/fonts/rubik/rubik-italic-webfont.woff') format('woff'),
         url('/styles/fonts/rubik/rubik-italic-webfont.ttf') format('truetype'),
         url('/styles/fonts/rubik/rubik-italic-webfont.svg#rubikitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubiklight';
    src: url('/styles/fonts/rubik/rubik-light-webfont.eot');
    src: url('/styles/fonts/rubik/rubik-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/rubik/rubik-light-webfont.woff2') format('woff2'),
         url('/styles/fonts/rubik/rubik-light-webfont.woff') format('woff'),
         url('/styles/fonts/rubik/rubik-light-webfont.ttf') format('truetype'),
         url('/styles/fonts/rubik/rubik-light-webfont.svg#rubiklight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubiklight_italic';
    src: url('/styles/fonts/rubik/rubik-lightitalic-webfont.eot');
    src: url('/styles/fonts/rubik/rubik-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/rubik/rubik-lightitalic-webfont.woff2') format('woff2'),
         url('/styles/fonts/rubik/rubik-lightitalic-webfont.woff') format('woff'),
         url('/styles/fonts/rubik/rubik-lightitalic-webfont.ttf') format('truetype'),
         url('/styles/fonts/rubik/rubik-lightitalic-webfont.svg#rubiklight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikmedium';
    src: url('/styles/fonts/rubik/rubik-medium-webfont.eot');
    src: url('/styles/fonts/rubik/rubik-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/rubik/rubik-medium-webfont.woff2') format('woff2'),
         url('/styles/fonts/rubik/rubik-medium-webfont.woff') format('woff'),
         url('/styles/fonts/rubik/rubik-medium-webfont.ttf') format('truetype'),
         url('/styles/fonts/rubik/rubik-medium-webfont.svg#rubikmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikmedium_italic';
    src: url('/styles/fonts/rubik/rubik-mediumitalic-webfont.eot');
    src: url('/styles/fonts/rubik/rubik-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/rubik/rubik-mediumitalic-webfont.woff2') format('woff2'),
         url('/styles/fonts/rubik/rubik-mediumitalic-webfont.woff') format('woff'),
         url('/styles/fonts/rubik/rubik-mediumitalic-webfont.ttf') format('truetype'),
         url('/styles/fonts/rubik/rubik-mediumitalic-webfont.svg#rubikmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubikregular';
    src: url('/styles/fonts/rubik/rubik-regular-webfont.eot');
    src: url('/styles/fonts/rubik/rubik-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/rubik/rubik-regular-webfont.woff2') format('woff2'),
         url('/styles/fonts/rubik/rubik-regular-webfont.woff') format('woff'),
         url('/styles/fonts/rubik/rubik-regular-webfont.ttf') format('truetype'),
         url('/styles/fonts/rubik/rubik-regular-webfont.svg#rubikregular') format('svg');
    font-weight: normal;
    font-style: normal;

}