$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$care-red: #ef4136;
$mi-blue: #74cede;

@import 'sass-bootstrap/lib/bootstrap';

@import 'fonts';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    font-size: 22px;
    padding-bottom: 20px;
    padding-top: 90px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: $mi-blue;
} 

h1, h2, h3, h4, h5, h6{
    font-family: 'rubikbold';

    &.page-title{
        font-size: 52px;
        color: $care-red;
        text-transform: uppercase;

        &.inactive{
            color: #eeeeee;
        }
    }
}
 
.red{
    color: $care-red;
}

p{
}

ul {
    overflow: auto;
}

.inside-image{
    padding: 15px;
}

/* Custom page header */
.header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: $mi-blue;

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

    &.splash{
        position: relative;
        background: none;
        
        img{
            display: block;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }
    }

    img{
            display: block;
            width: 100%;
            max-width: 260px;
            margin: 0 auto;
        }

}

.dialogue{
    position: relative;
}

.avatar{
    width: 30%;
    max-width: 200px;
    float: left;
    margin-bottom: -19px;

    // border: 1px solid #ddd;
    margin-right: 1em;

    img{
        max-width: 100%;
    }


}

.text {
    width: 65%;
    float: left;
    }

.bubble{
    position: relative;
    float: left;
    padding: 1em;
    border: 2px solid #ccc;
    border-radius: 10px;

    :after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: -50px;
        border-width: 15px 15px 0;
        border-style: solid;
        border-color: transparent #ccc;
        border-width: 10px 50px 10px 0;

    }
}

.slider.slider-horizontal {
    margin: 10px;

    background: url(/images/dash.png);
    background-size: 10%;
}

.container{
    background: #fff;
    border-radius: 5px;
    padding: 2em;
}

.credit{
    margin-top: 25px;
    p{
        font-size: 12px;
        color: #bbbbbb;
    }
}

footer{
    position: absolute;
    width: 100%;
    left: 0;
    padding-bottom: 40px;
}
/* Custom page footer */
.footer {
    margin-top: 30px;
    padding-top: 19px;
    padding-right: 0;
    padding-left: 0;
    color: #777;

    nav{
        .btn {
            border: 4px solid $care-red;
            background: $care-red;
            color: rgb(255, 255, 255);
            font-weight: bold;
            transition: padding .2s ease-out;
        
        &.prev{
            border-left: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            &:hover{
                padding-left: 25px;
            }
        }
        &.next{
            border-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            
            &:hover{
                padding-right: 25px;
            }
        }

        }
    } 
}

.container-narrow > hr {
    margin: 30px 0;
}

.button-box{
    position: relative;
    z-index: 10;
}

.btn{
    border: 1px solid #ddd;
    
    &.btn-danger{
        border: 1px solid $care-red;
        background-color: $care-red;
    }
    &.btn-success{
        border: 1px solid #89cc6d;
        background-color: #89cc6d;
    }
}

/* Check Box List */
.list-group{
    overflow-y: hidden;
}

.list-group-item {

    transition: border .25s;
    
    >.checkbox {
        margin: 0;

        > label {
            padding: 10px;
            width: 100%;
            display: block;
        }
    }

    &.is-selected{
        background: $care-red;
        color: white;
    }

    &.highlighted{
        border-right: 6px solid $care-red;
    }
}

.concern-group hr {
    width: 50px;
    height: 5px;
    border: none;
    background: $care-red;
    margin-left: 0;
    position: relative;
}


.solution-group{

    .radio{
        
        background: #eee;
        border-radius: 6px;
        color: #888888;
        transition: border 0.25s;

        label{
            padding: 15px;
            display: inline-block;
        }


        &.selected, &.selected:hover{
            background: $care-red;
            
            label{
                color: white;
            }
        }

        &:hover{
            background: rgb(221, 221, 221);
        }
    }

    .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
        display: none;
        float: none;
    }
}

/* Responsive Video */
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}

// Class
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.concern-box{
    position: relative;

    .concern-icon {
        position: absolute;
        top: 0;
        right: 0;
        opacity: .2;
        height: 100%;
    }

    .response{
        position: relative;
    }

}

/********************************
 Animations 
 *********************************/
.response {
  line-height: inherit;
  opacity: 1;
  padding: 10px;
  background: white;
  transition: all linear 0.2s;
  margin-top: 10px;
  outline: 1px solid #eee;
  display:block!important;
}

.response.ng-hide-add, .response.ng-hide-remove {
  
}

.response.ng-hide {
  line-height: 0;
  opacity: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 480px) {
    .pull-left, .pull-right{
        &.inside-image{
            float: none!important;
            margin: 0 auto;
            max-width: 100%;
            display: block;
        }
    }


}
@media screen and (min-width: 768px) {
    .container {
        max-width: 760px;
    }

    h1, h2, h3, h4, h5, h6{

        &.page-title{
            &.active, &.inactive{
                display: inline-block;
            }
        }
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
