
<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
	<div class="avatar">
    	<img src="/images/midonation_avatar_1200px.png" alt="">
	</div>
	<p>Thank you for taking the time to visit MiDonation. We welcome any comments that you might have and invite you to share them below.</p>
</div>

<form action="">
    <div class="form-group">
        <textarea type="text" class="form-control" rows="4" ng-model="question.response"></textarea>
    </div>
    
    <button type="submit" class="btn" ng-click="submitClick()">Submit</button>
</form>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    
  </nav>
</footer>