<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>

<p class="text-center">Thank you for visiting the MiDonation website.</p>

<p class="text-center">Copyright © Christopher R. France, 2016</p>

<p class="text-center">Reproduction is prohibited without permission.</p>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>

  </nav>
</footer>