<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>

<p style="margin: 40px 0;">Thank you for visiting the <strong>Blood Donor CARE </strong>website.  We welcome any comments that you might have and invite you to share them below.</p>

<form action="">
    <div class="form-group">
        <textarea type="text" class="form-control" rows="4"></textarea>
    </div>
    
    <button type="submit" class="btn" ng-click="submitClick()">Submit</button>
</form>

<div style="max-width: 370px; margin: 0 auto">
    
    <h3 class="page-title">DON’T REGRET NOT GIVING. <br><span style="color: #cccccc">Help save a life.</span></h3>
</div>
 


<div class="credit">
  <p class="text-center">Copyright ©  Christopher R. France</p>
  <p class="text-center">Reproduction is prohibited without permission.</p>
</div>



<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>