<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>

<div class="dialogue clearfix well">
  <div class="avatar">
    <img src="/images/midonation_avatar_1200px.png" alt="">
  </div>
	<p>{{question.text}}</p> 
</div>

<div class="well">
	<strong>Not at all </strong><input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1"  ng-model="question.value"/> <strong>Extremely</strong>
	
</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>

<script>
var slider = new Slider('#ex1', {
  formatter: function(value) {
    return value;
  },
  tooltip: 'always',
  value: 5
});</script>