<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
	<div class="avatar">
    	<img src="/images/midonation_avatar_1200px.png" alt="">
	</div>
	<div ng-show="questions[12].value > 7">
		<!-- 4a -->
		<p>It looks like you are very confident in your ability to donate blood again. What makes you so confident?</p>
		
	</div>

	<div ng-show="(questions[12].value >= 4 && questions[12].value <= 7)">
		<!-- 4b -->
		<p>It looks like you are moderately confident in your ability to donate blood again. Why did you rate your confidence as {{questions[12].value}} and not something lower, like {{questions[12].value -2}}?</p>
		<!-- 4c -->
	</div>

	<div ng-show="questions[12].value < 4">
		<!-- 4d -->
		<p>It looks like you are not very confident in your ability to donate blood again. What would increase your confidence to a {{questions[12].value + 2}}?</p>
	</div>
</div>

<form action="">
    <div class="form-group">
        <textarea type="text" class="form-control" rows="4" ng-model="theResponse" ng-change="canContinueUpdate()"></textarea>
    </div>
    
</form>

<div class="alert alert-danger alert-dismissible" role="alert" ng-show="nextDisabled">
    <p>Please respond before continuing.</p>
</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="submitClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>