<header class="header">
<img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
	<div class="avatar">
    	<img src="/images/midonation_avatar_1200px.png" alt="">
	</div>
	<p>I'm glad that you brought up your concern<span ng-show="( questions[8].options[0].selected + questions[8].options[1].selected + questions[8].options[2].selected + questions[8].options[3].selected + questions[8].options[4].selected + questions[8].options[5].selected ) > 1">s</span> about <span ng-show="(questions[8].options[0].selected || questions[8].options[1].selected || questions[8].options[2].selected || questions[8].options[3].selected)">experiencing negative reactions</span><span ng-show="(questions[8].options[0].selected || questions[8].options[1].selected || questions[8].options[2].selected || questions[8].options[3].selected) && (questions[8].options[4].selected || questions[8].options[5].selected)"> and </span><span ng-show="questions[8].options[4].selected || questions[8].options[5].selected"> arranging your next donation</span>.</p> 
</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>