<header class="header">
	<img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
	<div class="avatar">
    	<img src="/images/midonation_avatar_1200px.png" alt="">
	</div>
	<p>Whether you have concerns or not, there are simple ways to prepare yourself for a positive donation experience.  Please watch this brief video for more information.</p> 
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/tEJk_fta1DE"></iframe>
</div>


<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>
