<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>

<h2 class="page-title">Bruising</h2>

<div class="dialogue clearfix well">
  <div class="avatar">
      <img src="/images/midonation_avatar_1200px.png" alt="">
  </div>
  <p>Here are  solutions that have been used by other donors.</p>
  <p>Could these work for you?</p>
</div>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="option in question.options" ng-class="{highlighted : (option.selected === null && nextDisabled)}">
        <div >
          <p>{{option.text}}</p>
            <button class="btn btn-lg" ng-click="solutionClick($index, true)" ng-class="{'btn-danger': solution.selected}">Yes</button>
            <button class="btn btn-lg" ng-click="solutionClick($index, false)" ng-class="{'btn-danger': (solution.selected === false)}">No</button>
        </div>
    </li>
</ul>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>