
<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>

<div ng-show="options.selected == 1">
	<p>What do you think you might be able to do to about {{question.option[0].text}}?</p>
	<form action="">
	    <div class="form-group">
	        <textarea type="text" class="form-control" rows="4" ng-model="question.response"></textarea>
	    </div>
	    
	    <button type="submit" class="btn" ng-click="submitClick()">Submit</button>
	</form>
</div>

<div ng-show="options.selected == 2">
	<p>How about things you could do to address your concerns about {{question.option[0].text}}?</p>
	<form action="">
	    <div class="form-group">
	        <textarea type="text" class="form-control" rows="4" ng-model="question.response"></textarea>
	    </div>
	    
	    <button type="submit" class="btn" ng-click="submitClick()">Submit</button>
	</form>
</div>

<div ng-show="options.selected == 3">
	<p>You also expressed concerns about {{question.option[0].text}}. What could you do about that?</p>
	<form action="">
	    <div class="form-group">
	        <textarea type="text" class="form-control" rows="4" ng-model="question.response"></textarea>
	    </div>
	    
	    <button type="submit" class="btn" ng-click="submitClick()">Submit</button>
	</form>
</div>

<div ng-show="options.selected == 4">
	<p>What do you think might be the best solution for you to address your concern about {{question.option[0].text}}?</p>
	<form action="">
	    <div class="form-group">
	        <textarea type="text" class="form-control" rows="4" ng-model="question.response"></textarea>
	    </div>
	    
	    <button type="submit" class="btn" ng-click="submitClick()">Submit</button>
	</form>
</div>

<div ng-show="options.selected == 5">
	<p>Can you think of some ways to address your concerns about {{question.option[0].text}}?</p>
	<form action="">
	    <div class="form-group">
	        <textarea type="text" class="form-control" rows="4" ng-model="question.response"></textarea>
	    </div>
	    
	    <button type="submit" class="btn" ng-click="submitClick()">Submit</button>
	</form>
</div>

<div ng-show="options.selected == 6">
	<p>Finally, what might be the best solution for you to address your concern about {{question.option[0].text}}?</p>
	<form action="">
	    <div class="form-group">
	        <textarea type="text" class="form-control" rows="4" ng-model="question.response"></textarea>
	    </div>
	    
	    <button type="submit" class="btn" ng-click="submitClick()">Submit</button>
	</form>
</div>


<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>