
<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
	<div class="avatar">
    	<img src="/images/midonation_avatar_1200px.png" alt="">
	</div>

	<p>Thank you for taking the time to visit MiDonation. Please provide your email address so that we may send you a summary of the information that was covered today. </p>
</div>

<form action="" name="emailForm">
    <div class="form-group">
        <input type="email" name="input" class="form-control" ng-model="theResponse" placeholder="Email" ng-change="canContinueUpdate()"></input>
    </div>
</form>

<div class="alert alert-danger alert-dismissible" role="alert" ng-show="nextDisabled">
    <p>Please respond before continuing.</p>
</div>

<div class="alert alert-danger alert-dismissible" role="alert" ng-show="emailForm.input.$error.email">
    <p>Not valid email</p>
</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="submitClick()" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>