<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>

<h3>Donor Management</h3>
<a href="/welcome/#/manage" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> donor list</a>
<button class="btn btn-danger pull-right ng-scope" ng-click="deleteClick()"><i class="glyphicon glyphicon-trash"></i></button>
<h2 class="red">Donor: {{donor.donor_id}}</h2>
<h3>Donor Location: {{locations[donor.location - 1].name}} <button class="btn " ng-click="editLocationClick()"> <i class="glyphicon glyphicon-edit"></i></button></h3>

<div ng-show="changingLocation">
    <h3>New Location: </h3>
    <select name="locations" id="" ng-model="theLocation" class="form-control" ng-options="location as location.name for location in locations track by location.id" ></select>

    <button class="btn " ng-click="submitLocationClick(theLocation)"> submit</button>
</div>

<strong>Date Added: </strong><time>{{donor.date_added}}</time>
<hr>
<h3><abbr title="{{questions[1].text}}">Question 1:</abbr></h3>
<div class="well">
    <p>{{donor.q1}}</p>    
</div>

<h4><abbr title="{{questions[2].text}}">Question 1a:</abbr></h4>

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th><abbr title="{{questions[2].options[0].text}}">1</abbr></th>
                <th><abbr title="{{questions[2].options[1].text}}">2</abbr></th>
                <th><abbr title="{{questions[2].options[2].text}}">3</abbr></th>
                <th><abbr title="{{questions[2].options[3].text}}">4</abbr></th>
                <th><abbr title="{{questions[2].options[4].text}}">5</abbr></th>
                <th><abbr title="{{questions[2].options[5].text}}">6</abbr></th>
                <th><abbr title="{{questions[2].options[6].text}}">7</abbr></th>
                <th><abbr title="{{questions[2].options[7].text}}">8</abbr></th>
                <th><abbr title="{{questions[2].options[8].text}}">9</abbr></th>
                <th><abbr title="{{questions[2].options[9].text}}">10</abbr></th>
            </tr>
         </thead>
            <tr >
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q1a_a1"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q1a_a2"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q1a_a3"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q1a_a4"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q1a_a5"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q1a_a6"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q1a_a7"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q1a_a8"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q1a_a9"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q1a_a10"></i></td>
            </tr>

       
        <tr>
            
        </tr>
    </table> 

<hr>

<h3><abbr title="{{questions[4].text}}">Question 2:</abbr></h3>
<div class="well">
    <p ng-show="donor.q2">{{donor.q2}}</p>     
</div>

<h4><abbr title="{{questions[5].text}}">Question 2a:</abbr></h4>
      
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th><abbr title="{{questions[5].options[0].text}}">1</abbr></th>
                <th><abbr title="{{questions[5].options[1].text}}">2</abbr></th>
                <th><abbr title="{{questions[5].options[2].text}}">3</abbr></th>
                <th><abbr title="{{questions[5].options[3].text}}">4</abbr></th>
                <th><abbr title="{{questions[5].options[4].text}}">5</abbr></th>
            </tr>
        </thead>
            <tr >
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q2a_a1"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q2a_a2"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q2a_a3"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q2a_a4"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q2a_a5"></i></td>
            </tr>

        <tr>
            
        </tr>
    </table> 
<hr>
<h3><abbr title="{{questions[7].text}}">Question 3:</abbr></h3>
<div class="well">
    <p ng-show="donor.q3">{{donor.q3}} out of 10</p>     
</div>

<h4><abbr title="{{questions[8].text}}">Question 3a:</abbr></h4>
<div class="well">
    <p ng-show="donor.q3a">{{donor.q3a}}</p>     
</div>

<h4><abbr title="{{questions[9].text}}">Question 3b:</abbr></h4>
<div class="well">
    <p ng-show="donor.q3b">{{donor.q3b}}</p>     
</div>
<hr>

<h3><abbr title="{{questions[12].text}}">Question 4:</abbr></h3>
<div class="well">
    <p ng-show="donor.q4">{{donor.q4}} out of 10</p>     
</div>

<h4><abbr title="{{questions[13].text}}">Question 4a:</abbr></h4>
<div class="well">
    <p ng-show="donor.q4a">{{donor.q4a}}</p>     
</div>

<h4><abbr title="{{questions[14].text}}">Question 4b:</abbr></h4>
<div class="well">
    <p ng-show="donor.q4b">{{donor.q4b}}</p>     
</div>

<hr>

<h3><abbr title="{{questions[17].text}}">Question 5:</abbr></h3>
      
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th><abbr title="{{questions[17].options[0].text}}">1</abbr></th>
                <th><abbr title="{{questions[17].options[1].text}}">2</abbr></th>
                <th><abbr title="{{questions[17].options[2].text}}">3</abbr></th>
                <th><abbr title="{{questions[17].options[3].text}}">4</abbr></th>
                <th><abbr title="{{questions[17].options[4].text}}">5</abbr></th>
                <th><abbr title="{{questions[17].options[5].text}}">5</abbr></th>

            </tr>
        </thead>
            <tr >
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q5_a1"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q5_a2"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q5_a3"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q5_a4"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q5_a5"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q5_a6"></i></td>
            </tr>


    </table> 
<hr>

<h3>Question 6:</h3>
<div ng-show="donor.q5_a1">
    <h4><abbr title="{{questions[20].concerns[0].text}}">Question 6a:</abbr></h4>
      
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th ng-repeat="option in questions[20].concerns[0].options">
                    <abbr title="{{option.text}}">{{$index + 1}}</abbr>
                </th>
            </tr>
        </thead>
            <tr >
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6a_a1"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6a_a2"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6a_a3"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6a_a4"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6a_a5"></i></td>
            </tr>
        

    </table> 
</div>
<hr>
<div ng-show="donor.q5_a2">
    <h4><abbr title="{{questions[20].concerns[1].text}}">Question 6b:</abbr></h4>
      
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th ng-repeat="option in questions[20].concerns[1].options">
                    <abbr title="{{option.text}}">{{$index + 1}}</abbr>
                </th>
            </tr>
        </thead>
            <tr >
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6b_a1"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6b_a2"></i></td>
            </tr>
    </table> 
</div>
<hr>
<div ng-show="donor.q5_a3">
    <h4><abbr title="{{questions[20].concerns[2].text}}">Question 6c:</abbr></h4>
      
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th ng-repeat="option in questions[20].concerns[2].options">
                    <abbr title="{{option.text}}">{{$index + 1}}</abbr>
                </th>
            </tr>
        </thead>
            <tr >
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6c_a1"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6c_a2"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6c_a3"></i></td>
            </tr>
    </table> 
</div>

<hr>
<div ng-show="donor.q5_a4">
    <h4><abbr title="{{questions[20].concerns[3].text}}">Question 6d:</abbr></h4>
      
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th ng-repeat="option in questions[20].concerns[3].options">
                    <abbr title="{{option.text}}">{{$index + 1}}</abbr>
                </th>
            </tr>
        </thead>
            <tr >
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6d_a1"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6d_a2"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6d_a3"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6d_a4"></i></td>
            </tr>
    </table> 
</div>

<hr>
<div ng-show="donor.q5_a5">
    <h4><abbr title="{{questions[20].concerns[4].text}}">Question 6e:</abbr></h4>
      
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th ng-repeat="option in questions[20].concerns[4].options">
                    <abbr title="{{option.text}}">{{$index + 1}}</abbr>
                </th>
            </tr>
        </thead>
            <tr >
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6e_a1"></i></td>

            </tr>
    </table> 
</div>

<hr>
<div ng-show="donor.q5_a6">
    <h4><abbr title="{{questions[20].concerns[5].text}}">Question 6f:</abbr></h4>
      
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th ng-repeat="option in questions[20].concerns[5].options">
                    <abbr title="{{option.text}}">{{$index + 1}}</abbr>
                </th>
            </tr>
        </thead>
            <tr >
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6f_a1"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6f_a2"></i></td>
                <td><i class="glyphicon glyphicon-ok" ng-show="donor.q6f_a3"></i></td>
            </tr>
    </table> 
</div>

<hr>

<h3>Question 7:</h3>
<div ng-show="donor.q5_a1">
    <h4><abbr title="What do you think you might be able to do to about {{questions[21].concerns[0].text}}">Question 7a:</abbr></h4>
    <div class="well">
        <p>{{donor.q7a}}</p>    
    </div>

</div>

<div ng-show="donor.q5_a2">
    <h4><abbr title="What do you think you might be able to do to about {{questions[21].concerns[1].text}}">Question 7b:</abbr></h4>
    <div class="well">
        <p>{{donor.q7b}}</p>    
    </div>

</div>

<div ng-show="donor.q5_a3">
    <h4><abbr title="What do you think you might be able to do to about {{questions[21].concerns[2].text}}">Question 7c:</abbr></h4>
    <div class="well">
        <p>{{donor.q7c}}</p>    
    </div>

</div>

<div ng-show="donor.q5_a4">
    <h4><abbr title="What do you think you might be able to do to about {{questions[21].concerns[3].text}}">Question 7d:</abbr></h4>
    <div class="well">
        <p>{{donor.q7d}}</p>    
    </div>

</div>

<div ng-show="donor.q5_a5">
    <h4><abbr title="What do you think you might be able to do to about {{questions[21].concerns[4].text}}">Question 7e:</abbr></h4>
    <div class="well">
        <p>{{donor.q7e}}</p>    
    </div>

</div>

<div ng-show="donor.q5_a6">
    <h4><abbr title="What do you think you might be able to do to about {{questions[21].concerns[5].text}}">Question 7f:</abbr></h4>
    <div class="well">
        <p>{{donor.q7f}}</p>    
    </div>

</div>
<hr>
<div ng-show="donor.q5_a6">
    <h4><abbr title="What do you think you might be able to do to about {{questions[21].concerns[5].text}}">Question 7f:</abbr></h4>
    <div class="well">
        <p>{{donor.q7f}}</p>    
    </div>

</div>

<h3>Question 8:</h3>
<div ng-show="donor.q8c">
    <h4><abbr title="{{questions[23].text}}">Question 8c:</abbr></h4>
    <div class="well">
        <p>{{donor.q8c}}</p>    
    </div>

</div>

<h3><abbr title="{{questions[23].text}}">Question 9:</abbr></h3>
<div ng-show="donor.q9">
    <div class="well">
        <p><a ng-href="mailto:{{donor.q9}}">{{donor.q9}}</a></p>    
    </div>

</div>

<h3><abbr title="{{questions[24].text}}">Question 10:</abbr></h3>
<div ng-show="donor.q10">
    <div class="well">
        <p>{{donor.q10}}</p>    
    </div>

</div>