<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">CARE</h3>
</div>

<h1>Blood Donor CARE Study</h1>

<h3>a new donor's guide to giving the gift of life</h3>

