<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>

<h3>Donor Management</h3>


<form class="well" ng-show="addingNew">
  <div class="form-group" >
    <label for="newDonor">New Donor ID</label>
    <input type="number" class="form-control" id="newDonor" placeholder="12345678" ng-model="newID">
    <label for="locations">Location: </label>
    <select name="locations" id="" ng-model="theLocation" class="form-control" ng-options="location as location.name for location in locations track by location.id"></select>

    </select>

    <button class="btn btn-default" ng-click="addingNewLocation = true" ng-show="!addingNewLocation"><span class="
small  glyphicon glyphicon-plus" ></span> Add new Location</button>
  </div>

  <button type="submit" class="btn btn-default" ng-click="addDonorID(newID, theLocation.id)">Submit</button>
  <button type="submit" class="btn btn-default" ng-click="addingNew = false">Cancel</button>
</form>

<form class="well" ng-show="addingNewLocation">
  <h3>New Location</h3>
  <div class="form-group" >
    <label for="newLocation">Name</label>
    <input type="text" class="form-control" id="newDonor" placeholder="MiDonation" ng-model="newLocationName">
    <label for="locations">URL</label>
    <input type="text" class="form-control" id="newDonor" placeholder="midonation.org" ng-model="newLocationUrl">
  </div>

  <button type="submit" class="btn btn-default" ng-click="addLocation(newLocationName, newLocationUrl)">Submit</button>
  <button type="submit" class="btn btn-default" ng-click="addingNewLocation = false">Cancel</button>
</form>


<form class="form-inline">
  <div class="form-group">
    <input type="search" ng-model="q" class="form-control" placeholder="Search" />
   </div>
  <div class="form-group pull-right">
     <a class="btn btn-default" href="https://midonation.org/welcome/api/tocsv.php" ><span class="
small  glyphicon glyphicon-file" ></span> Export CSV file</a>

    <button class="btn btn-default" ng-click="addingNew = true" ng-show="!addingNew"><span class="
small  glyphicon glyphicon-plus" ></span> Add new Donor ID</button>

  </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th><a href=""  ng-click="orderChange('donor_id')">Donor ID # <span class="
small text-muted glyphicon glyphicon-chevron-up" ng-show="orderBy == 'donor_id'"></span><span class="
small text-muted glyphicon glyphicon-chevron-down" ng-show="orderBy == '-donor_id'"></span></a></th>
            <th><a href="" ng-click="orderChange('date_added')">Date Added <span class="
small text-muted glyphicon glyphicon-chevron-up" ng-show="orderBy == 'date_added'"></span><span class="
small text-muted glyphicon glyphicon-chevron-down" ng-show="orderBy == '-date_added'"></span></a></th>
        </tr>
        
    </thead>
    <tr ng-repeat="donorID in donorIDs | orderBy: orderBy | filter:q">
        <td><a href="/welcome/#/manage/id/{{donorID.donor_id}}" class="small">{{donorID.donor_id}}</a></td>
        <td><span class="small">{{donorID.date_added}}</span></td>
      </tr>
</table>

<a href="/welcome/#/locations" class="btn btn-default"><i class="glyphicon"></i>Manage Locations</a>
