<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>
<div class="dialogue clearfix well">
  <div class="avatar">
    <img src="/images/midonation_avatar_1200px.png" alt="">
  </div>
  <p>{{question.text}}</p>
</div>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="option in question.options" ng-class="{highlighted : (option.selected === null && nextDisabled)}">
        <div >
          <p>
            <button class="btn btn-lg" ng-click="solutionClick( $index)" ng-class="{'btn-success': option.selected}"><i class="glyphicon glyphicon-ok"></i></button>
            {{option.text}}
          </p>
        </div>
    </li>
    <li class="list-group-item" ng-class="{highlighted : (option.selected === null && nextDisabled)}" ng-show="question.hasNoneOfTheAbove">
        <div >
          <p>
            <button class="btn btn-lg" ng-click="noneClick()" ng-class="{'btn-success': noneOfTheAbove}"><i class="glyphicon glyphicon-ok"></i></button>
            None of the above
          </p>
        </div>
    </li>
</ul>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>