
<header class="header">
    <img class="logo" src="/images/midonation_logo_redwht_1200px.png" alt="MiDonation logo">
</header>

<div>
	<div class="dialogue clearfix well">
		<div class="avatar">
	    	<img src="/images/midonation_avatar_1200px.png" alt="">
		</div>

	  <div ng-show="concernsSelected.length === 0">
	    <p>Are you sure you have no concerns?</p>
	    <a ng-click="returnClick()" class="btn btn-default">I have concerns</a>
	    <a ng-click="continueClick()" class="btn btn-default">I have no concerns</a>
	  </div>

		<div ng-show="concernsSelected.length > 0">
			<p ng-show="currentConcernIndex == 0">Now that we've covered some ways to address your concerns, what do you think you might be able to do to about {{question.concerns[concernsSelected[currentConcernIndex]].text}}?</p>
		
			<p ng-show="concernsSelected.length == 2 && currentConcernIndex == 1">And how about things you could do to address your concerns about {{question.concerns[concernsSelected[currentConcernIndex]].text}}?</p>
			
			<p ng-show="( concernsSelected.length >= 4 && currentConcernIndex == 1 )">How about things you could do to address your concerns about {{question.concerns[concernsSelected[currentConcernIndex]].text}}?</p>
			
			<p ng-show="( concernsSelected.length >= 4 && currentConcernIndex == 2 ) || ( concernsSelected.length == 3 && currentConcernIndex == 1 )">You also expressed concerns about {{question.concerns[concernsSelected[currentConcernIndex]].text}}. What could you do about that?</p>

			<p ng-show="( concernsSelected.length >= 5 && currentConcernIndex == 3 )">What do you think might be the best solution for you to address your concern about {{question.concerns[concernsSelected[currentConcernIndex]].text}}?</p>
			
			<p ng-show="( concernsSelected.length == 6 && currentConcernIndex == 4 )">Can you think of some ways to address your concerns about {{question.concerns[concernsSelected[currentConcernIndex]].text}}?</p>
			
			<p ng-show="((currentConcernIndex == concernsSelected.length-1) && (concernsSelected.length > 2)  )">Finally, what might be the best solution for you to address your concern about {{question.concerns[concernsSelected[currentConcernIndex]].text}}?</p>
		</div>
		
	</div>

	<form action="" ng-show="concernsSelected.length > 0">
	    <div class="form-group">
	        <textarea type="text" class="form-control" rows="4" ng-model="theResponse" ng-change="canContinueUpdate()" ></textarea>
	    </div>
	    <!-- <button type="submit" class="btn" ng-click="submitClick()">Submit</button> -->
	</form>

	<div class="alert alert-danger alert-dismissible" role="alert" ng-show="nextDisabled">
	    <p>Please respond before continuing.</p>
	</div>
</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="isFirstPage"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>