
    <header class="header splash">
        <img class="logo" src="/images/midonation_logo_color_1200px.png" alt="CARE logo">
    </header>
    <h1 class="page-title">Checking ID</h1>
<!--     <div class="dialogue clearfix well">
      <div class="avatar">
        <img src="/images/midonation_avatar_1200px.png" alt="">
      </div>
        <p>This website will review your reasons for giving blood and suggest ways to cope with concerns that you might have.</p>
    </div> -->
    <small>Signing In with your Donor ID</small>
<!-- <form class="well">
    <div class="form-group">
        <label for="donorId">Donor ID:</label>
        <input type="text" id="donorId" class="form-control" placeholder="012345678" ng-model="donorID" ng-change="logInFailed = false" ng-disabled="loggedIn">
    </div>
    <button type="submit" class="btn btn-danger" ng-click="submitClick()">Submit</button>
</form> -->
<div class="alert alert-danger alert-dismissible" role="alert" ng-show="logInFailed">
    <p><strong>{{donorID}}</strong> is not a valid Donor ID. Please check your Donor ID number and try again.</p>
</div>

<div class="alert alert-danger alert-dismissible" role="alert" ng-show="nextDisabled">
    <p>Please sign in with your Donor ID.</p>
</div>

<div class="alert alert-success" role="alert" ng-show="loggedIn">
    <p>Logged in with Donor ID: <strong>{{donorID}}</strong></p>
</div>

<footer class="footer">
  <nav>
    <button class="btn prev btn-default btn-lg" ng-click="buttonClick('prev')" ng-disabled="true"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    <button class="btn next btn-default btn-lg pull-right" ng-click="buttonClick('next')" ng-disabled="isLastPage || nextDisabled">Next <i class="glyphicon glyphicon-chevron-right"></i></a>
  </nav>
</footer>